<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgat Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ForgatPassword.css' %}">
</head>
<body>
    <section> 
        <div id="image">
            <img src="https://img.freepik.com/premium-psd/3d-male-character-working-laptop-having-problem_541652-427.jpg?w=2000" alt="">
        </div>
        <div id="details">
            <form action="http://127.0.0.1:8000/forgetpassword/" method="post">
                {% csrf_token %}
                <h2>Forget Password</h2>
                <label for="mail">Mail-Id :</label>
                <input type="email" id="mail" placeholder="admin.example.com" name="mail">
                <br>
                <input type="submit" name="" id="sub">

            </form>
        </div>
    </section>
</body>
</html>