<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration.css' %}">
    <title>Registration</title>

</head>
<body>
    <section>
        <h1>Registration Form</h1>
        <div class="details">
            <form action=" http://127.0.0.1:8000/registration/" method="post" >
                {% csrf_token %}
                <label for="nm">NAME :</label>
                <input type="text" id="nm" name="name" placeholder="Write Your Full Name"><br>
                <label for="mn">CONTECT NUMBER : </label>
                <input type="text" id="mn" name="mobile_number" placeholder="Contect Number"><br>
                <label for="mail">EMAIL ID : </label>
                <input type="email" id="mail" name="email_id" placeholder="Email Id"><br>
                <label for="pass">PASSWORD : </label>
                <input type="password" id="pass" name="password" placeholder="password"><br>
                <label for="ct">CITY : </label>
                <input type="text" id="ct" name="city" placeholder="city"><br>
                <input id="sub" type="submit">
                
            </form>
        </div>
    </section>
    
</body>
</html>