<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'ResetPassword.css' %}">
    <title>Reset Password</title>
    
</head>
<body>
    <section> 
        <div id="image">
            <img src="https://t3.ftcdn.net/jpg/01/97/49/62/240_F_197496219_RseZeK0CyiVXr7djsk6jf7MrLcMecgCu.jpg" alt="">
        </div>
        <div id="details">
            <form action="http://127.0.0.1:8000/resetpassword/" onsubmit="return ValidateForm()" method="post">
                {% csrf_token %}
                <h2>Reset Password</h2>
                <label for="otp">OTP :</label>
                <input type="text" id="otp" name="otp" required>
                <br>
                <br>
                <label for="newpass">New Password : </label>
                <input type="password" name="password" id="newpass" required>
                <br>
                <br>
                <label for="conpass">Conform Password : </label>
                <input type="password" name="Cpassword" id="conpass" required>

                <input type="hidden" name="id" value={{id}}>
                <br>
                <input type="submit" name="" id="sub">
                <h5>* We Have Send You an OTP on The Registerd Mail Id Please Check *</h5>
                

            </form>
        </div>
    </section>
    <script>
        function ValidateForm(){
            var x=true
            if (document.querySelector('#newpass').value!=document.querySelector('#conpass').value) {
                alert('Both Password Should Be Same')
                x=false
                
            }
            console.log('hi');
            return x
        }
        let z=1
        let y='{{otp}}''
        console.log(z,y);
        if (z==y) {
            alert('incorect OTP pls use valid OTP')
            
        }
        
    </script>
    
</body>
</html>